#selectors {
    width:  40%;
    margin-left: 35%;
    margin-top: 2%;
    margin-bottom: 2%;
}
#input {
    width: 30%;
    margin-left: 35%;
}

table {
    width: 25%;
    margin: auto;
    margin-top: 20px;
}
