/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.85rem;
  }
  h5 {
    font-size: 1.3rem;
  }
  nav .brand-logo {
    font-size: 1.3rem;
  }
  .parallax-container .section {
    top: 10%;
  }
  h2 {
    font-size: 2rem;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.ml-2 {
  margin-left: 2rem;
}

.brand-logo img {
  height: 100%;
  width: auto;
  max-width: 55px;
}

.collapsible {
  color: black;
  text-shadow: 1px 1px #a2c3c3;
}

.collapsible-body {
  background-color: rgba(194, 214, 214, 0.5);
}
